<div class="row paging manualtrigger" data-toggle="infinitescroll" data-target="#posts" data-next-selector=".paging .moreprevious a" data-max-page="{{pages}}">
<div class="small-12 columns">
{{#if next}}
<div class="moreprevious"><a href="{{page_url next}}">MORE POSTS</a></div>
{{/if}}           
</div>
</div>